<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="../Web-Mini-Project/jQuery.js"></script> -->
    <title>Homepage - GateMaster</title>
  </head>
  <body>
    <nav>
      <h5>
        <a href="home/">Home</a>
        <a href="streams/">Streams</a>
        <a href="mentor/">Mentor</a>
        <a href="digitallogic/">About GATE</a>
        <a href="register/" id="logout" style="margin-left: 996px">Log Out</a>
      </h5>
    </nav>
    <header style="display: flex; align-items: center; justify-content: center;">
      <img src="assets/images/Logo.jpeg" width="25%" height="25%" />
      <!-- <a href="assets/notes/CALCULUS.pdf" target="_blank" rel="noopener noreferrer">Calculus</a> -->
    </header>
    <br>
    <div>
        <div id="EM">
            <h1 id="EMtext">SUBJECTS</h1>
        </div>
    </div>
    <div class="container">
        <ul>
            <li>
                <div class="bottom">         
                    <img src="assets/images/Cse/EM.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>
                        <a href="em/" style="color: white;"> Engineering Mathematics </a>
                    </ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="assets/images/Cse/DL.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>
                        <a href="GateMaster EM.html" style="color: white;">  Digital Logic </a>
                    </ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="assets/images/Cse/COA.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>
                        <a href="GateMaster EM.html" style="color: white;">  COA </a>
                    </ul>
                    
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="assets/images/Cse/DS.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>
                        <a href="GateMaster EM.html" style="color: white;">  Data Structures  </a>
                    </ul>
                    <ul>Data Structures </ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="assets/images/Cse/AlGO.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>
                        <a href="GateMaster EM.html" style="color: white;">  Algorithms </a>
                    </ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="assets/images/Cse/TOC.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>
                        <a href="GateMaster EM.html" style="color: white;">  Theory of Computation</a>
                    </ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="assets/images/Cse/CD.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>
                        <a href="GateMaster EM.html" style="color: white;">  Compiler Design </a>
                    </ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="assets/images/Cse/OS.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>
                        <a href="GateMaster EM.html" style="color: white;">  Operating System </a>
                    </ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                   <img src="assets/images/Cse/DBMS.png" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>
                        <a href="GateMaster EM.html" style="color: white;">  Databases </a>
                    </ul>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="assets/images/Cse/CN.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <ul>
                        <a href="GateMaster EM.html" style="color: white;">  Computer Networks </a>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
        <div id="Content">
            <h2 id="Contenttext">Question Paper & Answers</h2>
        </div>
    <div class="container">
        <ul> 
            <li>
                <div class="bottom">
                    <img src="assets/images/Gate_2021.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <a target="_blank" href="assets/notes/MA-GATE-2021.pdf" style="color: white;"> 2021 </a>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="assets/images/Gate_2020.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <a target="_blank" href="assets/notes/MA-GATE-2020.pdf" style="color: white;"> 2020 </a>
                </div>
            </li>
            <li>
                <div class="bottom">
                    <img src="assets/images/Gate_2019.jpg" width="250" height="250" class="img-fluid">
                </div>
                <div class="top">
                    <a target="_blank" href="assets/notes/MA-GATE-2019.pdf" style="color: white;"> 2019 </a>
                </div>
            </li>
        </ul>
    </div>
    <footer>
        <h5>
          <nav>
            <a href="aboutus/">About Us</a>
            <a href="terms/">Terms of Use</a>
            <a href="contact/">Contact Us</a>
            <a href="mailto:gatemaster04@gmail.com">Feedback</a>
            <a href="privacy/">Privacy Policy</a>
            <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
          </nav>
        </h5>
      </footer>
  </body>
</html>

<router-outlet></router-outlet>
