<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="../Web-Mini-Project/jQuery.js"></script> -->
    <title>Homepage - GateMaster</title>
  </head>
  <body>
    <nav>
      <h5>
        <a href="home/">Home</a>
        <a href="streams/">Streams</a>
        <a href="mentor/">Mentor</a>
        <a href="digitallogic/">About GATE</a>
        <a href="register/" id="logout" style="margin-left: 980px">Log Out</a>
      </h5>
    </nav>
    <header style="display: flex;
    align-items: center;
    justify-content: center;">
      <img src="assets/images/Logo.jpeg" width="25%" height="25%" />
      <!-- <a href="assets/notes/CALCULUS.pdf" target="_blank" rel="noopener noreferrer">Calculus</a> -->
    </header>
    <br>
    <main>
                <div id="EM">
                    <h1 id="EMtext">Engineering Mathematics</h1>
                </div>
                <br>
                <div id="Content">
                    <h2 id="Contenttext">Video Lectures</h2>
                </div>
            <section>
            <iframe width="40%" height="100" src="https://www.youtube.com/embed/ma-Iu9kkNt8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="40%" height="150" src="https://www.youtube.com/embed/videoseries?list=PL6Hn_dJKTVOmlX3MRFEUmwREY-OZcNB1u" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        

            <iframe width="40%" height="150" src="https://www.youtube.com/embed/videoseries?list=PLG9aCp4uE-s3WVNMgxyHkGD8M78ATMW8v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
            </section>
            <br><br>
                <div id="Content">
                    <h2 id="Contenttext">Notes</h2>
                </div>
            <div class="container">
                <ul> 
                    <li>
                        <div class="bottom">
                            <img src="assets/images/Cse/CALCULUS.jpg" width="250" height="250" class="img-fluid">
                        </div>
                        <div class="top">
                            <a target="_blank" href="assets/notes/CALCULUS.pdf" style="color: white;"> CALCULUS </a>
                        </div>
                    </li>
                    <li>
                        <div class="bottom">
                            <img src="assets/images/Cse/DIFF-EQU.png" width="250" height="250" class="img-fluid">
                        </div>
                        <div class="top">
                            <a target="_blank" href="assets/notes/Diff_Equation.pdf" style="color: white;"> Differential Equation </a>
                        </div>
                    </li>
                    <li>
                        <div class="bottom">
                            <img src="assets/images/Cse/Linear-Algebra.jpg" width="250" height="250" class="img-fluid">
                        </div>
                        <div class="top">
                            <a target="_blank" href="assets/notes/Linear-Algebra.pdf" style="color: white;"> Linear Algebra </a>
                        </div>
                    </li>
                    <li>
                        <div class="bottom">
                            <img src="assets/images/Cse/Numerical-Methods.png" width="250" height="250" class="img-fluid">
                        </div>
                        <div class="top">
                            <a target="_blank" href="assets/notes/Numerical-Methods.pdf" style="color: white;"> Numerical Methods </a>
                        </div>
                    </li>
                    <li>
                        <div class="bottom">
                            <img src="assets/images/Cse/Graph_Theory.jpg" width="250" height="250" class="img-fluid">
                        </div>
                        <div class="top">
                            <a target="_blank" href="assets/notes/Graph_Theory.pdf" style="color: white;"> Graph Theory </a>
                        </div>
                    </li>
                    <li>
                        <div class="bottom">
                            <img src="assets/images/Cse/probability_&_statistics.png" width="250" height="250" class="img-fluid">
                        </div>
                        <div class="top">
                            <a target="_blank" href="assets/notes/probability_&_statistics.pdf" style="color: white;"> Probability & Statistics </a>
                        </div>
                    </li>
                </ul>
            </div>
    </main>
    <footer>
      <h5>
        <nav>
          <a href="aboutus/">About Us</a>
          <a href="terms/">Terms of Use</a>
          <a href="contact/">Contact Us</a>
          <a href="mailto:gatemaster04@gmail.com">Feedback</a>
          <a href="privacy/">Privacy Policy</a>
          <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
        </nav>
      </h5>
    </footer>
    </body>
</html>

<router-outlet></router-outlet>
