<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="aboutus.component.css" />
    <title>Homepage - GateMaster</title>
  </head>
  <style>
    img {
      height: 250px;
      width: 350px;
      border-radius: 50%;
    }
  </style>
  <body>
    <nav>
      <h5>
        <a href="home/">Home</a>
        <a href="streams/">Streams</a>
        <a href="mentor/">Mentor</a>
        <a href="aboutgate/">About GATE</a>
        <a href="register/" style="margin-left: 940px">Log Out</a>
      </h5>
    </nav>
    <header>
      <div style="display: flex; align-items: center; justify-content: center">
        <img style="height: 20%; width: 20%; border-radius: 0%;" src="assets/images/Logo.jpeg" width="20%" height="20%" />
      </div>
    </header>
    <br />
    <br />
    <h1
      style="
        text-align: center;
        font-family: sans-serif;
        font-weight: bolder;
        text-decoration: underline;
      "
    >
      Our Team
    </h1>
    <br /><br />
    <div
      class="about"
      style="display: flex; align-items: center; justify-content: space-evenly"
    >
      <div class="me">
        <img src="assets/images/PP.jpg" alt="My profile pic" /><br /><br />
      </div>
      <div class="mangesh">
        <img
          src="assets/images/mangesh.jpg"
          alt="Mangesh profile pic"
        /><br /><br />
        <!-- <span style="display: block; text-align: center; font-size: 30px; font-family: 'Playfair Display', serif; font-style: italic;">Mangesh Sokalwar</span> -->
      </div>
      <div class="swami">
        <img
          src="assets/images/swami.jpeg"
          alt="Swami profile pic"
        /><br /><br />
        <!-- <span style="display: block; text-align: center; font-size: 30px; font-family: 'Playfair Display', serif; font-style: italic;">Aaryan Swami</span> -->
      </div>
    </div>
    <div
      class="under"
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <div class="undertext">
        <span
          style="
            display: block;
            text-align: center;
            font-size: 30px;
            font-family: 'Playfair Display', serif;
            font-style: italic;
          "
          >Aryan Dubey</span
        >
        <p style="margin: 14px; padding: 14px; text-align: center">
          The basic idea of the website was presented by Aryan to the whole
          team. It include what will be the structure of the website, how will
          the website look and what would be the basic functionalities that
          would be offered to the user. Basically the frontend part of the Website was designed and taken care by him.
        </p>
      </div>
      <div class="undertext">
        <span
          style="
            display: block;
            text-align: center;
            font-size: 30px;
            font-family: 'Playfair Display', serif;
            font-style: italic;
          "
          >Mangesh Soklawar</span
        >
        <p style="margin: 14px; padding: 14px; text-align: center">
            The data handling of the website was taken care by Mangesh. He made the database for the data acquired during user registeration and the functionalities and methods that went along with it. The privacy of the data that is the data does not falls in the wrong hands and is not misused at all cost is looked upon by him.
        </p>
      </div>
      <div class="undertext">
        <span
          style="
            display: block;
            text-align: center;
            font-size: 30px;
            font-family: 'Playfair Display', serif;
            font-style: italic;
          "
          >Aaryan Swami</span
        >
        <p style="margin: 14px; padding: 14px; text-align: center">
            Aaryan was responsible for the frontend - backend connection, that is the database connection with the registeration forms. Morever the study material that we provide on this website is handled by him. He is responsible for checking the correctness of the material and regularly looks for changes in syllabus, if any.
        </p>
      </div>
    </div>
    <footer>
      <h5>
        <nav>
          <a href="aboutus/">About Us</a>
          <a href="terms/">Terms of Use</a>
          <a href="contact/">Contact Us</a>
          <a href="mailto:gatemaster04@gmail.com">Feedback</a>
          <a href="privacy/">Privacy Policy</a>
          <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
        </nav>
      </h5>
    </footer>
  </body>
</html>
