<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact - GateMaster</title>
  </head>
  <body>
    <nav>
      <h5>
        <a href="home/">Home</a>
        <a href="streams/">Streams</a>
        <a href="mentor/">Mentor</a>
        <a href="aboutgate/">About GATE</a>
        <a href="register/" style="margin-left: 940px">Log Out</a>
      </h5>
    </nav>
    <header>
        <div style="display: flex; align-items: center; justify-content: center;">
          <img src="assets/images/Logo.jpeg" width="20%" height="20%" />
        </div>
      </header>
  
    <ul>
      <h3><u>Contact Us</u></h3>
    </ul>
    <ul>
      <li>Student Support Centre (10 AM to 6 PM) : 9983409000</li>
    </ul>
    <ul>
      <li>Enquiry Call or Whatsapp : 9983407000</li>
    </ul>
    <ul>
      <li>For any Technical assistance: 9983408000</li>
    </ul>
    <ul>
      <li>
        For any query, assistance or feedback you can also write us on :
        gatemaster04@gmail.com
      </li>
    </ul>
    <footer>
      <h5>
        <nav>
          <a href="aboutus/">About Us</a>
          <a href="terms/">Terms of Use</a>
          <a href="contact/">Contact Us</a>
          <a href="mailto:gatemaster04@gmail.com">Feedback</a>
          <a href="privacy/">Privacy Policy</a>
          <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
        </nav>
      </h5>
    </footer>
  </body>
</html>
