<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="../Web-Mini-Project/jQuery.js"></script> -->
    <title>Homepage - GateMaster</title>
  </head>
  <body>
    <nav>
      <h5>
        <a href="home/">Home</a>
        <a href="streams/">Streams</a>
        <a href="mentor/">Mentor</a>
        <a href="aboutgate/">About GATE</a>
        <a href="register/" id="logout" style="margin-left: 940px">Log Out</a>
      </h5>
    </nav>
    <header>
      <img src="assets/images/Logo.jpeg" width="25%" height="25%" />
      <!-- <a href="assets/notes/CALCULUS.pdf" target="_blank" rel="noopener noreferrer">Calculus</a> -->
    </header>
    <aside>
      <div class="about">
        <h2 style="font-size: 35px">
          <u><b>Welcome to our Website</b></u>
        </h2>
        <div class="text" style="font-size: 19px">
          To all the students who could not go to any Gate Coaching Academies
          due to prevailing Covid Conditions or could not afford those highly
          expensive coaching classes, you have come to the right place. Our
          website is totally free and has one of the most top notch content you
          can find on the Internet regarding Gate Examination.
          <br />
          <br />
          <b>GateMaster</b> is a website to help the students appearing for Gate
          examination in the near future. It contains video lectures on
          different topics and notes on the same for better preparation of the
          students. It also contain previous year Question Papers, both with
          solutions and without solutions so that the students can practice
          thoroughly. Anyone who has just started preparing and has little to no
          knowledge regarding the examination, can educate himself in the About
          Gate section where you can get previous year cutoffs, important dates
          of this year examination, application fee and much more.
          <br />
          <br />
          By preparing from our website and scoring a good GATE score, you can
          get in your dream college for masters degree and even apply for jobs
          in the Public Sector.
        </div>
      </div>
    </aside>
    <div class="container">
      <ul>
        <li>
          <div class="bottom">
            <ul>
              Multi-Branches Study Material
            </ul>
            <img
              src="https://img.icons8.com/nolan/120/web.png"
              class="img-fluid"
            />
          </div>
          <div class="top">
            <ul>
              <br /><br /><br /><br />Our websites contains video lectures and
              notes on different topic for better preparation of the students.
            </ul>
          </div>
        </li>
        <li>
          <div class="bottom">
            <ul>
              Solve It Now
            </ul>
            <img
              src="https://img.icons8.com/nolan/120/multi-edit.png"
              class="img-fluid"
            />
          </div>
          <div class="top">
            <ul>
              <br /><br /><br /><br />
              Our website also contains previous year Question Papers both with
              and without solutions, so that students get a fair idea of the
              exam.
            </ul>
          </div>
        </li>
        <li>
          <div class="bottom">
            <ul>
              Question Our Mentor
            </ul>
            <img
              src="https://img.icons8.com/nolan/120/help--v1.png"
              class="img-fluid"
            />
          </div>
          <div class="top">
            <ul>
              <br /><br /><br /><br />
              Our website has a mentor facility which students can avail for a
              one on one guiding session.
            </ul>
          </div>
        </li>
        <li>
          <div class="bottom">
            <ul>
              Review and Feedback
            </ul>
            <img
              src="https://img.icons8.com/nolan/120/financial-growth-analysis.png"
              class="img-fluid"
            />
          </div>
          <div class="top">
            <ul>
              <br /><br /><br /><br />Please review our website, the services we
              provide and also let us know how we can improve ourselves.
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <footer>
      <h5>
        <nav>
          <a href="aboutus/">About Us</a>
          <a href="terms/">Terms of Use</a>
          <a href="contact/">Contact Us</a>
          <a href="mailto:gatemaster04@gmail.com">Feedback</a>
          <a href="privacy/">Privacy Policy</a>
          <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
        </nav>
      </h5>
    </footer>
  </body>
</html>

<router-outlet></router-outlet>
