<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="mentor.component.css" />
    <title>Mentor - GateMaster</title>
  </head>

  <style>
    /* .h2 {
      font-family: "Amatica SC", cursive;
    }
    .h3 {
      float: left;
    }
    .left-col,
    .right-col,
    .down-col {
      background-color: #f4f4f4;
      float: left;
      width: 50%;
    }
    .container div {
      padding: 1%;
      box-sizing: border-box;
      min-height: 600px;
    }
    .heading {
      background-color: skyblue;
    } */
  </style>

  <body>
    <nav>
      <h5>
        <a href="home/">Home</a>
        <a href="streams/">Streams</a>
        <a href="mentor/">Mentor</a>
        <a href="aboutgate/">About GATE</a>
        <a href="register/" style="margin-left: 940px">Log Out</a>
      </h5>
    </nav>
    <header>
      <div style="display: flex; align-items: center; justify-content: center;">
        <img src="assets/images/Logo.jpeg" width="20%" height="20%" />
      </div>
    </header>
    <br>

    <div class="heading">
      <div>
        <h2 style="text-align: center;"><u style="background: blueviolet; padding: 10px 13px;
            border-radius: 21px;
            color: white;
            text-decoration: none;
            font-weight: bold">Our Mentors</u></h2>
      </div>
    </div>

    <div class="left-col">
        <br>
        <h3 id="quote" style="text-align: center;
        font-size: xx-large;
        font-style: italic;">"Live your dream, led by a purpose!"</h3>
        <br>
        <ul style="text-align: center;
        font-size: 20px;">
          This feature was added to our website for solving the doughts of the
          students as soon as they are stuck at a topic. For which we appointed a mentor who has
          been in the same shoes as of the students.We are professional at work
          but have an artist at heart. As a team, we have only one aim to help students achieve
          their aim.
        </ul>
        <ul style="text-align: center; font-size: 18px;">
          Any student with any query or doubts related to GATE or PSU sector
          placements through GATE score can write down to our mentors at:
          gatemaster04@gmail.com
        </ul>
      </div>
      <br><br>

    <div class="container">
      <div class="right-col" style="display: flex;">
        <div id="image and name">
            <div class="img"><img style="padding: 0;
                height: 400px;
                width: 400px;
                border-radius: 50%;" src="assets/images/ameya.jpeg" alt="Ameya Jangam" /></div>
                <br>
            <div class="name" style="width: 100%;
            text-align: center;
            font-size: 30px;
            font-style: italic;
            font-family: sans;">Mr. Ameya Jagnam</div>
        </div>
        <ul style="text-align: center;
        font-size: 21px;
        margin-top: 87px;
        font-style: italic;">
          Mr. Ameya Jangam who has been a guiding light to numerous students in
          the past has partnered with us to mentor our students here at
          GateMaster. He himself is a Mechanical Engineer from NIT Surat who sat
          for GATE Examination in the year 2019. He scored a handsome 88 out of
          100 marks in the ME paper and was one of the leading scorers that
          year. Through his GATE score he got recruited in Bharat Coking Coal
          Ltd. and is currently working there.
        </ul>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="right-col" style="display: flex;">
        <div id="image and name">
            <div class="img"><img style="padding: 0;
                height: 400px;
                width: 400px;
                border-radius: 50%;" src="assets/images/Maam.jpeg" alt="Ameya Jangam" /></div>
                <br>
            <div class="name" style="width: 100%;
            text-align: center;
            font-size: 30px;
            font-style: italic;
            font-family: sans;">Mrs. Charusheela Nehete</div>
        </div>
        <ul style="text-align: center;
        font-size: 21px;
        margin-top: 87px;
        font-style: italic;">
          Mrs. Charusheela Nehete has decided to mentor us, the development team at Gatemaster. She is a Professor at Vivekananda Institute of
          Technology, Chembur. She has been a guiding light for all her
          students and has been motivating them to excel is whatever they choose
          to do. Through her knowledge and expirience in this feild she will
          help us to step up the game of online education and take GATEMASTER to
          heights which we all can just imagine.
        </ul>
      </div>
    </div>
<br>
<br>
    <footer>
        <h5>
            <nav>
              <a href="aboutus/">About Us</a>
              <a href="terms/">Terms of Use</a>
              <a href="contact/">Contact Us</a>
              <a href="mailto:gatemaster04@gmail.com">Feedback</a>
              <a href="privacy/">Privacy Policy</a>
              <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
            </nav>
          </h5>
    </footer>
  </body>
</html>
