<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GateMaster | Data Structures</title>
</head>
<body>
    <nav>
      <h5>
        <a href="home/">Home</a>
        <a href="streams/">Streams</a>
        <a href="mentor/">Mentor</a>
        <a href="aboutgate/">About GATE</a>
        <a href="register/" style="margin-left: 940px">Log Out</a>
      </h5>
    </nav>
    <header>
          <img src="assets/images/Logo.jpeg" width="20%" height="20%" />
      </header>
      <main>
          <br><br>
                <div id="EM">
                    <h1 id="EMtext">Data Structures</h1>
                </div>
                <div id="Content">
                    <h2 id="Contenttext">Video Lectures</h2>
                </div>
            <section>
                <iframe width="40%" height="150" src="https://youtube.com/embed/QBrDsG3MTkw" allowfullscreen></iframe>        
                <iframe width="40%" height="150" src="https://youtube.com/embed/AjlVJo_Un4M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        

                <iframe width="40%" height="150" src="https://youtube.com/embed/c5akSTf9RR8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
            </section>
                <div id="Content">
                    <h2 id="Contenttext">Notes</h2>
                </div>
            <div class="container">
                <ul> 
                    <li>
                        <div class="bottom">
                            <img src="assets/images/Cse/DS.jpg" width="250" height="250" class="img-fluid">
                        </div>
                        <div class="top">
                            <a target="_blank" href="assets/notes/DS1" style="color: white;">Data Structures-1 </a>
                        </div>
                    </li>
                    <li>
                        <div class="bottom">
                            <img src="assets/images/Cse/DS.jpg" width="250" height="250" class="img-fluid">
                        </div>
                        <div class="top">
                            <a target="_blank" href="assets/notes/DS2" style="color: white;"> Data Structures-2 </a>
                        </div>
                    </li>
                </ul>
            </div>
    </main>
      <footer>
        <h5>
          <nav>
            <a href="aboutus/">About Us</a>
            <a href="terms/">Terms of Use</a>
            <a href="contact/">Contact Us</a>
            <a href="mailto:gatemaster04@gmail.com">Feedback</a>
            <a href="privacy/">Privacy Policy</a>
            <a href="">&copy;2021 | GateMaster Educational Services Pvt.Ltd.</a>
          </nav>
        </h5>
      </footer>
</body>
</html>